.forgot-password-container {
    @include flexStyling(column, space-evenly, center);
    min-height: 70vh;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    background-color: #FFF;
    .icon-and-h1 {
        @include flexStyling(column, center, center);
        .question-mark-icon {
            background: url(../../assets/icons/2849796_lock_security_multimedia_close_protection_icon.png);
            width: 128px;
            height: 128px;
        }
        .forgot-h1 {
            color: #000;
        }
    }
    .input-container {
        width: 90%;
        .input-container-p {
            margin-bottom: 30px;
            text-align: center;
        }
        .forgot-label {
            color: #000;
            font-size: 25px;
            font-weight: bold;
        }
    }

    .reset-password-btn {
        cursor: pointer;
        width: 40%;
        height: 50px;
        background-color: #47CF73;
        border: none;
        font-size: 17px;
        border-radius: 10px;
    } 
}

@include desktopsOnly() {
    .forgot-password-container {
        width: 30%;   
    }
}