.reset-password-container {

    width: $full-width;
    height: $full-height;
    @include flexStyling(column, center, center);



    .inputs-container {

        margin-top: 10%;
        margin-bottom: 10%;
        @include flexStyling(column, center, center);
        background-color: #FFF;
        border-radius: 20px;
        height: 70%;
        padding: 5%;


        .reset-h1 {
            color: #000;
        }
        .unlocked-icon {
            background: url(../../assets/icons/2849795_lock_security_protection_open_multimedia_icon.png);
            width: 128px;
            height: 128px;
            background-size: cover;
        }
        .password-input, .repeat-password-input {
            width: $full-width;
            padding: 5%;

            .reset-label {
                color: #000;
                font-size: 25px;
                font-weight: bold;
            }
        }
        .reset-password-btn {
            cursor: pointer;
            width: $full-width;
            height: 50px;
            background-color: #47CF73;
            border: none;
            font-size: 17px;
            border-radius: 10px;
        }
    }

}
@include desktopsOnly() {

}