header {
    min-height: 15vh;
    background-color: black;
    color: white;
    width: 100%;
    a {
        color: white;
        text-decoration: none;
    }

    @include flexStyling(column, center);

    
    @include desktopsOnly() {
        @include flexStyling(row, space-between);
        .logo-container {
            margin-left: 5%;
        }
    }   

    .logo-container {
        @include flexStyling(row, center);
        
        .logo {
            background: url(../assets/icons/company_logo.png);
            background-position: center;
            background-size: cover;
            width: 90px;
            height: 90px;
        }
    }

    ul {

        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;

        @include desktopsOnly() {
            @include flexStyling(row, center);
        }   
       
        list-style: none;
        li {
            @include desktopsOnly() {
                margin-left: 5%;
                margin-right: 5%;
                width: 200px;
            }   

            a {
                color: white;
            }
        }
    }
}