.create-new-post-container {
    width: $full-width;
    @include flexStyling(column, center);

    .title-input {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 80%;
        input[type="text"] {
            width: 100%;
            height: 50px;
            border-radius: 10px;
        }
    }

    .coding-input-container {
        @include flexStyling(column, center);
        width: $full-width;
    }


    @include desktopsOnly() {

        .desc-and-code-container {

            @include flexStyling(row, center);
            width: $full-width;
            .textarea-desc {
                width: 33%;
                height: 300px
            }

            .coding-input-container {
                @include flexStyling(row, center);
            }
        }

    }

    .code-editor {
        width: $full-width;
        overflow-x: hidden;
    }
}