.edit-post-container {
    width: $full-width;

    .ace-editor-edit-disabled {
        opacity: 0.6;
    }

    .desc {
        width: 33%;
    }

    @include desktopsOnly() {

        .desc-and-code-container {
            @include flexStyling(row, center);
            width: $full-width;
            .desc {
                margin-left: 1%;
                width: 33%;
                max-height: 300px;
                overflow-y: auto;
            }
            .code-editor {
                width: 33%;
            }
 
        }

    }
    .code-editor {
        width: 100%;
        margin: 5px;
        height: 300px;
        .ace-editor {
            overflow-y: auto;
        }
    }
}