.result-frame {
    margin-top: 1%;
    width: $full-width;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    overflow-y: scroll;
}
.code-result-wrapper {
    height: $full-height;
    width: $full-width;

    .code-container {
        height: $full-height;
        width: $full-width;
    }
}