.result-frame-container {
    @include flexStyling(column, center, center);
    height: 600px;
    margin-top: 1%;
    width: $full-width;
    margin-bottom: 1%;
    .result-frame {
        background-color: white;
        height: $full-height;
        width: 98%;
        border: 5px solid black;
    
        overflow-y: scroll;
        border-radius: 10px;
    }
}

.code-result-wrapper {
    height: $full-height;
    width: $full-width;
    background-color: white;

    .code-container {
        height: $full-height;
        width: $full-width;
    }
}